<mat-toolbar>
    <div class="container">
        <a href="#" routerLink="/" class="logo">NemWolt</a>
        <nav>
            <ul>
                <li>
                    <a *ngIf="(loggedInUser)" href="#" routerLink="/login" (click)="logout()">Kijelentkezés</a>
                    <a *ngIf="!(loggedInUser)"  href="#" routerLink="/login">Bejelentkezés</a>
                    <a *ngIf="!(loggedInUser)" href="#" routerLink="/register">Regisztráció</a>
                    <a *ngIf="(loggedInUser)"  matBadge="{{cart.totalQuantity}}" href="#" routerLink="/cart">Kosár</a>
                </li>
            </ul>
        </nav>
    </div>
</mat-toolbar>