<div class="register_component">
    <h1>Regisztráció</h1>
    <div class="div-flex">
        
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Email:</label>
                <input type="text" formControlName="email">
            </div>
            <div>
                <label for="password">Jelszó:</label>
                <input type="password" formControlName="password">
            </div>
            <div>
                <label for="confirmPassword">Jelszó megerősítés:</label>
                <input type="password" formControlName="confirmPassword">
            </div>
            <div formGroupName="name">
                <div>
                    <label for="firstName">Keresztnév:</label>
                    <input type="text" formControlName="firstName">
                </div>
                <div>
                    <label for="lastName">Vezetéknév:</label>
                    <input type="test" formControlName="lastName">
                </div> 
            </div>
            <div>
                <button type="submit" mat-flat-button color="accent">Regisztráció</button>
                <button type="button" routerLink="/login" mat-flat-button color="accent">Bejelentkezés</button>
            </div>
        </form>
    </div>
</div>